
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-syllable-logo:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-arrow-up:before { content: '\e806'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */