@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.page-query {
  background-image: url('/black-marble.jpg');
  background-repeat: repeat;

  &:after {
    @include full-size();
    z-index: 0;
    content: '';
    background: rgba(0,0,0,.5);
  }

  .screen-content {
    position: relative;
    z-index: 1;
    min-height: 200vh;
    // font-size: 6rem;
    opacity: .8;
    color: rgba(100,100,100,.9);
    // background: rgba(255,255,255,.3);
    text-shadow: -.005em .01em .01em rgba(255,255,255,.8), .005em -.01em .0005em rgba(0,0,0,.8);
  }

  .memorial-list {
    margin-top: 2rem;
    li {
      margin-bottom: 1rem;
    }
  }
}
