@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.page-memorial {
  @include memorial-page();

  .memorial-list-wrap {
    margin-top: 2rem;
    overflow: hidden;
  }

  .memorial-list {
    margin-left: -.8em;

    .memorial-list-item {
      display: inline-block;
      line-height: 2em;
      white-space: nowrap;
      // margin-bottom: 1rem;

      span {
        position: relative;
        margin: 0 .25em;
        // left: -25px;
        // transform: translateX(250px);

        &:first-child {
          visibility: none;
        }
      }
    }
  }
}
