@import './variables.scss';

@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin full-size() {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

@mixin center-vert() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin center-horz() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-both() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@mixin flex-wrap() {
  display: flex;
  align-items: center;
  justify-content: center;

  .flex-item {
    max-width: 50%;

    &--top {
      align-self: flex-start;
    }
    &--bottom {
      align-self: flex-end;
    }
  }
}

@mixin small-text() {
  font-size: $font-size-sm-x;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-small-text;
  font-weight: $font-weight-bold;
}

@mixin hover-effect() {
  opacity: $opacity-off-hover;

  &:hover {
    opacity: 1;
  }
}

@mixin hover-effect-link() {
  @include hover-effect();

  &:hover {
    color: $color-link;
  }
}

@mixin hover-scale() {
  transform: scale($icon-hover-scale);
  transition: $animation-transition;
  transition-property: transform;
}

@mixin memorial-page() {
  background-image: url('/black-marble.jpg');
  background-repeat: repeat;
  line-height: $line-height;

  &:after {
    @include full-size();
    z-index: 0;
    content: '';
    background: rgba(0,0,0,.7);
  }

  .page-screen {
    padding: 5vh 7vw;
    font-family: 'Lusitana-Bold';
    letter-spacing: .07em;
    position: relative;
    z-index: 1;
  }

  .tribute-header {
    text-transform: uppercase;

    span {
      display: block;
    }
  }

  .memorial-list-item,
  .tribute-content {
    &, a {
      color: rgba(0,0,0,.4);
      opacity: .8;
      text-shadow: -.005em .02em .01em rgba(255,250,239,.9);
    }
  }

  .tribute-content-single {
    // todo: #matchTextShadow just the spread is different
    text-shadow: -.005em .02em .01em rgba(255,250,239,.9), 0 .1em 8em $color-glow;
    line-height: 2em;

    .life-dates {
      font-size: .7em;
    }
  }

  .memorial-list-item a {
    transition: $transitionTyp;
    text-transform: uppercase;
    position: relative;
    display: inline-block;

    &:hover,
    &:focus {
      transition: all 0.2s ease-in;
      color: $color-glow;
      transform: scale(1.05);
      transform-origin: 50% 50%;
      // todo: #matchTextShadow
      text-shadow: -.005em .02em .01em rgba(255,250,239,.9), 0 .1em 1em $color-glow;
      transition: $transitionTyp;
    }
  }
}
