$color-primary: #1f3634;
$color-white: #ffffff;
// blueberry
$color-link: #4A86E8;

@font-face {
  font-family: 'Matter-Regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: url('/fonts/Matter-Regular.woff2') format('woff2'),
       url('/fonts/Matter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Matter-SemiBold';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: url('/fonts/Matter-SemiBold.woff2') format('woff2'),
       url('/fonts/Matter-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Lusitana-Bold';
    src:url('/fonts/Lusitana-Bold.ttf.woff') format('woff'),
        url('/fonts/Lusitana-Bold.ttf.svg#Lusitana-Bold') format('svg'),
        url('/fonts/Lusitana-Bold.ttf.eot'),
        url('/fonts/Lusitana-Bold.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

$font-family-bold: 'Matter-SemiBold', serif; //sans-serif;

$font-family: 'Matter-Regular', serif; //sans-serif;
$letter-spacing: -.015em;
$letter-spacing-small-text: .04em;
$font-size-base: 16px;
$font-size-sm-x: .75rem;
$font-size-sm: 1.125rem;
$font-size-md: 1.4rem;
$font-size-lg: 2.25rem;
$line-height: 1.5em;
$line-height-sm: 1.4em;
$font-weight-bold: 600;

$screen-size-tablet: 56rem;
$screen-size-mobile: 50rem;
$screen-size-tiny: 25rem;

$page-width: 100%;
