@import './shared-styles/variables.scss';
@import './shared-styles/mixins.scss';

$menu-margin-x: 2.5vw;
$logo-size: 4rem;
$logo-size-m: 3rem;
$flex-padding: 1.25rem;

.page {
  position: relative;
  width: $page-width;
  margin: 0 auto;

  .nav-content {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 2;
  }

  .menu-ul {
    margin: $menu-margin-x 5vw;

    a {
      cursor: pointer;
      line-height: $logo-size;
    }
  }

  .menu-li {
    display: inline-block;
    margin: 0 2rem;
    font-size: $font-size-md;

    &:last-child {
      margin-right: 0;
    }
  }

  .footer {
    position: absolute;
    width: 100%;
    background: $color-primary;
    text-align: center;
    display: flex;
    align-items: center;

    img {
      width: 3em;
    }

    span, a {
      opacity: .9;
      color: white;
    }
    span {
      font-size: 1.75rem;
      margin: 0 .75rem;
    }

    a {
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  .footer-inner {
    padding: 1rem 0;
    display: inline;
    margin: 0 auto;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .h1 {
    font-size: $font-size-md * 7;
  }

  .media-wrap {
    margin-bottom: 1.25rem;
  }

  @media screen and (max-width: $screen-size-mobile) {
    .menu-ul {
      margin-top: $logo-size-m / 2;

      a {
        line-height: $logo-size-m;
      }
    }

    .menu-li {
      margin: 0 .8rem;
    }

    .footer-inner {
      margin: 0 auto;
      display: block;
      font-size: 1.2rem;

      span {
        display: block;
        margin: 1rem;
      }
    }

    .h1 {
      margin-top: .2em;
    }
  }

  .captioned-media {
    width: 100%;
    margin: 2rem auto 1rem auto;
    display: block;
  }

  .caption {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-style: italic;
    font-size: .8em;
  }
}
